:root {
  --dark-teal: #006d77;
  --blue-green: #83c5be;
  --alice-blue: #edf6f9;
  --light-salmon: #ffddd2;
  --dark-salmon: #e29578;
}

body {
  height: 100%;
  background-color: var(--light-salmon);
}

header {
  background-color: var(--dark-salmon);
}

#sidebar-col {
  background-color: var(--alice-blue);
}

#forecast-col {
  background-color: var(--light-salmon);
}

#uv {
  padding: 3px;
}

.low-uv {
  background-color: lightgreen;
}

.mid-uv {
  background-color: yellow;
}

.high-uv {
  background-color: orangered;
}

.very-high-uv {
  background-color: red;
  color: white;
}

.extra-high-uv {
  background-color: purple;
  color: white;
}

.future-card {
  background-color: var(--dark-teal);
  color: white;
}

.history-list {
  cursor: pointer;
}

.start-div {
  background-color: var(--dark-teal);
}

.start-div {
  top: 100%;
}

.start-info {
  color: white;
}
