:root {
  --dark-teal: #006d77;
  --blue-green: #83c5be;
  --alice-blue: #edf6f9;
  --light-salmon: #ffddd2;
  --dark-salmon: #e29578;
}

body {
  height: 100vh;
}

header {
  background-color: var(--dark-salmon);
  height: 15vh;
}

.navbar-brand {
  margin-right: 0px;
}

.main-row {
  height: 85vh;
}

#sidebar-col {
  background-color: var(--alice-blue);
}

.current-weather-card {
  background-color: var(--light-salmon);
}

.future-weather {
  background-color: var(--light-salmon);
}

.uv {
  border-radius: 15%;
  padding: 5px;
}

.low-uv {
  background-color: lightgreen;
}

.mid-uv {
  background-color: yellow;
}

.high-uv {
  background-color: orangered;
}

.very-high-uv {
  background-color: red;
  color: white;
}

.extra-high-uv {
  background-color: purple;
  color: white;
}

.current-weather-info {
  font-size: 1.5rem;
}

.future-card {
  background-color: var(--dark-teal);
  color: white;
}
